body {
    padding-top: 6em;
    padding-bottom: 5em;
    font-size: 1.5em;
}

body h2 {
    font-size: 1.5em;
}

#modification{
    padding-top: 7em;
    padding-bottom: 65px;
}

#modification a {
    color: #663399;
}

.tab-content {
    margin-top: 25px;
}

#chartContainer_svg {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#chemicalStructureImage {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

.navbar-custom {
    background-color: #87CEFA;
    border-color: black;
}

.well {
    background: #f0f7f4;
}

#searchinput {
    width: 100%;
}

.searchbox {
    width: 100%;
}

#searchresults {
    list-style-type: none;
}

.ui-accordion .ui-accordion-header-default {
    background: #c0c0c0;
}

.ui-accordion .ui-accordion-header-active {
    background: rgb(135, 206, 250);
    color: rgb(119, 43, 201);
}

.ui-accordion .ui-accordion-content ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: #7B68EE;
}

/* visited link */
a:visited {
    color: #7B68EE;
}

/* mouse over link */
a:hover {
    color: #7B68EE;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #7B68EE;
}

table, th, td {
    margin-top: 6px;
    padding: 5px;
    border: 0px;
    border-collapse: collapse;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

table tr td.species {
    font-style:italic;
}

table tr td.nucleobase {
    /* Adapted from: http://crafted-software.blogspot.ca/2010/07/css-for-tag-list-of-best-monospaced.html */
    font-family: 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
}

.ExpandedAlpha table, .ExpandedAlpha table tr td, .ExpandedAlpha table tr th {
    border: 0px;
    border-collapse: collapse;
    border-left: 2px solid;
    border-right: 2px solid;
}

.ExpandedAlpha {
    display: table;
    margin: 0 auto;
}

#Inline {
    display: inline-block;
}

.Names {
    margin-top:15px
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
.nav > li {
    position: relative;
    display: inline-block;
}

.navbar p {
    font-size: 1.5em;
}

#time {
    font-size: 0.75em;
    margin-bottom: 0.25px;
}

.tooltip-inner {
    white-space: nowrap;
}

.footer {
    font-size: 1.1em;
    font-weight: bold;
}

.footer a {
    color: #663399;
}

#hangingindent {
    list-style-type: none;
    padding-left: 1.5em;
    text-indent: -1.5em;    
}

#InTextCitation {
    list-style-type: none;
    padding-left: 3.5em;
    text-indent: -1.5em;
}
