body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.tab-content {
    margin-top: 25px;
}

#chartContainer_svg {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.navbar-custom {
    background-color: #87CEFA;
    border-color: black;
}

.navbar-brand {
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
}

.navbar-collapse {
  text-align:center;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.navbar-nav a {
    padding: 10px;
}

.well {
    background: #f0f7f4;
}

#searchinput {
    width: 100%;
}

.searchbox {
    width: 100%;
}

#searchresults {
    list-style-type: none;
}

.ui-accordion .ui-accordion-header-default {
    background: #c0c0c0;
}

.ui-accordion .ui-accordion-header-active {
    background: rgb(135, 206, 250);
    color: rgb(119, 43, 201);
}

.ui-accordion .ui-accordion-content ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: #b18fcf;
}

/* visited link */
a:visited {
    color: #b18fcf;
}

/* mouse over link */
a:hover {
    color: #b18fcf;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #b18fcf;
}