<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <title>DNAmod: Home</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/psd3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/psd3.css" />
    <script type='text/javascript' src='js/homepage.js'></script>
    
    <script type='text/javascript' src='js/elasticlunr.js'></script>
    <link href="css/style.css" rel="stylesheet" type='text/css' />

</head>


{% macro _consRecTree(mod_children_L, subpie_frac) -%}
    {% if not mod_children_L|is_list %}
        {% set mod_children_L = [mod_children_L] %}
    {% endif %}

    {# Circumvent Jinja2 scoping rules, using an object for the count.
       Adapted from:  http://stackoverflow.com/a/32700975 #}
    {% set num_nested_lists = [0] %}
    {% set num_nested_lists_gt_3 = [0] %}

    {% for mod_base in mod_children_L %}
        {% if mod_base|is_list %}
            {# increment num_nested_lists by 1 #}
            {% do num_nested_lists.append(num_nested_lists.pop() + 1) %}

            {% if mod_base|length > 3 %}
                {% do num_nested_lists_gt_3.append(num_nested_lists_gt_3.pop() + 1) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% set num_nested_lists = num_nested_lists.pop() %} {# object -> int #}

    {% set num_nested_lists_gt_3 = num_nested_lists_gt_3.pop() %} {# object -> int #}

    {% set num_items_at_lvl = (mod_children_L|length - num_nested_lists) %}

    {% set subpie_frac_adj = subpie_frac %}

    {% set subpie_subitem_growth_factor = num_items_at_lvl/2 %}

    {% for mod_base in mod_children_L %}
        {% if mod_base|is_list %}
            {# increase the size of pie menu items with many children #}
            {% if mod_base|length > 3 %}
                {% set subpie_frac_adj = subpie_frac/num_items_at_lvl + subpie_subitem_growth_factor %}
            {% endif %}
            
            {% set mod_base_id = mod_base.pop(0) %}
        {% else %}
            {# decrease size of other pie menu items to compensate for the increase of those with many children #}
            {% if num_nested_lists_gt_3 > 0 %}
                {% set subpie_frac_adj = subpie_frac/num_items_at_lvl - subpie_subitem_growth_factor/num_nested_lists_gt_3 %}
            {% endif %}
            
            {% set mod_base_id = mod_base %}
        {% endif %}

        {{ '{' }}
        abbreviation: "{{ customNomenclature[mod_base_id]['Abbreviation'] }}",
        displayname: "{{ customNomenclature[mod_base_id]['Name'] -}}
                    {% if customNomenclature[mod_base_id]['Symbol'] -%}
                    {{' '}}{{'('}}<span class='nucleobase'>{{customNomenclature[mod_base_id]['Symbol']}}</span>{{')' -}}
                    {% endif -%}",
                    chebiname: "{{ customNomenclature[mod_base_id]['chebiname'] }}",
        value: {{ subpie_frac_adj }},
        {% for shadeOrigin in shadeOrigins -%}
            {% set baseOrigin = vBaseOrigins.get(mod_base_id) -%}
            {% if baseOrigin and shadeOrigin in baseOrigin.split() -%}
                {# shade this pie menu element -#}
                stripe: true,
            {% else -%}
                stripe: false,
            {% endif -%}
        {% endfor -%}
        drilldown: [
        {% if mod_base|is_list and mod_base|length > 0 %}
            {#  next element is a list -> proceed with the recursive step #}
            {{ _consRecTree(mod_base, subpie_frac_adj) }}
        {% endif %}
        ]
        {{ '}' }}
        {% if not loop.last -%}
            ,
        {% endif %}
    {% endfor %}
{%- endmacro %}


<body>
    <div class= "TitleBlock" >
        <nav class="navbar navbar-custom navbar-fixed-top">
                <div class="navbar-header">
                    <p class="navbar-text">DNAmod: the DNA modification database</p>
                </div> 
        </nav>
    </div>

    <div>
        <ul class="nav nav-tabs">
            <li class="nav"> <a href="#tabs-1" data-toggle="tab"> Search </a></li>
            <li class="nav active"> <a href="#tabs-2" data-toggle="tab">Verified</a></li>
            <li class="nav"> <a href="#tabs-3" data-toggle="tab">Unverified</a></li>
        </ul>
    </div>
    
    <div class="tab-content">
    
        <div class="tab-pane fade" id="tabs-1">
            <div class="container">
                <div class="well">
                    <h2>Searching for DNA modifications</h2>
                    <ul>
                        <li>Start typing a search query into the box below.
                        <li>Returned from your query are the results of your search along with the field that they matched.
                        <li>Verified entries are returned in<span style="color:#4DAC26;"> green</span>, whereas unverified entires are returned in <span style="color:#D01C8B;"> magenta</span>.
                        <li>The searchable fields include: 'Common Name', 'ChEBI ID', 'IUPAC Name', 'Synonyms', 'Chemical Formula', 'Abbreviation' and, 'Symbol'.
                        <li>You may need to scroll down to see all of the results.
                    </ul>
                </div>
    
                <div class="panel panel-default" id="searchinput">
                    <div class="panel-body">
                        <input type="text" class="searchbox" placeholder="Search">
                        <ul class="list-group" id = "searchresults">
            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="tab-pane fade in active" id="tabs-2">
            <div class="container">
                <div class="well">
                    <h2>Covalently modified DNA nucleobases</h2>
                    <ul>
                        <li>View the organization of modified nucleobases by their chemical hierarchies.
                        <li>Nucleobase abbreviations are displayed.
                        <li>Bases that have only been observed synthetically are displayed in <span style="color:#B3B3B3">gray</span>.
                        <li>Hover over an item to view its full (curated) name and any associated symbol.
                        <li>Click on any modified base to view its detailed information.
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body" id="chartContainer"></div>
                </div>
            </div>

            <script type="text/javascript">
                $(window).on("load resize", function () {
                    $('#chartContainer').empty()
                    var windowWidth = $(window).width()*0.5;
                    var windowHeight = $(window).width()*0.5;
                    var dim;
                    
                    if (windowWidth < windowHeight) {
                        dim = windowWidth;
                    } else {
                        dim = windowHeight;
                    }
                    
                    if (dim < 750) {
                        dim = 750;
                    }
                              
                    {% set initial_subpie_frac = 100/(verifiedHierarchy.keys()|length) %}

                    var DNA_bases = [
                        {% for unmod_base, mod_children in verifiedHierarchy|dictsort %}
                        {% set unmod_symbol = unmod_base|string|first|upper %}
                            {{ '{' }}
                                abbreviation: "{{ unmod_symbol }}",
                                displayname: "{{unmod_base}}{{' '}}{{'('}}<span class='nucleobase'>{{unmod_symbol}}</span>{{')'}}",
                                chebiname: "",
                                value: {{ initial_subpie_frac }},
                                drilldown: [{{ _consRecTree(mod_children, initial_subpie_frac) }}],
                                stripe: false
                            {{ '}' }}{% if not loop.last %}, 
                            {% endif %}
                        {% endfor %}
                    ];

                    var config = {
                        containerId: "chartContainer",
                        width: dim,
                        height: dim,
                        data: DNA_bases,
                        label: function(d) {
                            return d.data.abbreviation;
                        },
                        inner: "drilldown",
                        tooltip: function(d) {
                            return "<div style='background-color: #4a4; color: white; padding: 15px; text-align: middle; border: dotted 1px black;'>" + d.displayname + "</div>";
                        },
                        click: function(d) {
                            var url = d.data.chebiname.concat(".html");
                            $.ajax({
                                type: 'HEAD',
                                url: url,
                                success: function() {
                                    return window.location.href = url;
                                },
                            });
                        },
                        transition: "linear",
                        transitionDuration: 0,
                        donutRadius: 50,
                        gradient: true,
                        colors: d3.scale.category20(),
                        labelColor: "black",
                        stroke: "#eee",
                        strokeWidth: 3,
                        drilldownTransistion: "linear",
                        drilldownTransistionDuration: 0,
                        highlightColor: "white"
                    };

                    var samplePie = new psd3.Pie(config);
                });
            </script>

            <noscript>
                <div class= "panel panel-default" >
                    <div id="accordion">
                        {% for base in bases %}
                            <h2> {{ base }} </h2>
                            <div>
                                {% set baseloop = loop %}
                                <ul class="list-group">
                                    {% for modification in modifications[base] %}
                                        <li class="list-group-item"> <a href= "{{ modification }}.html"> {{ modification }}</a>
                                    {% endfor %}
                                </ul>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </noscript>
        </div>

        <div class="tab-pane fade" id="tabs-3">
            <div class="container">
            
                <div class="well">
                    <h2>Unverified entries</h2>
                    <ul>
                        <li>The entries listed on this page are chemicals associated with a particular unmodified nucleobase,
                            but have not been manually verified as DNA modifications.
                        <li>Expand a section and click on a link to view information on the entity.
                    </ul>
                </div>

                <div class= "panel panel-default" >
                    <div id="accordion2">
                    {% for base in unverifiedbases %}
                        <h2> {{ base }} </h2>
                        <div>
                            {% set baseloop = loop %}
                            <ul class="list-group">
                            {% for modification in unverifiedmodifications[base] %}
                                <li class="list-group-item"> <a href= "{{ modification }}.html"> {{ modification }}</a>
                            {% endfor %}
                            </ul> <br>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            
            </div>  
        </div>
        
    </div>
    
    <footer class="footer">
        <nav class="navbar navbar-custom navbar-fixed-bottom center">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li><a href= "about.html"> About</a></li>
                    <li><a href= "contact.html"> Contact</a></li>
                </ul>
                <p id="time"> Database last updated on: <a href="https://bitbucket.org/hoffmanlab/dnamod">{{ time }}</a> </p>
            </div> 
        </nav>
    </footer>

</body>

</html>
