<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <title>DNA Modification Database - Home</title>

    <!-- <link href="netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <!-- <link href="css/style.css" rel="stylesheet" type='text/css'> -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script type='text/javascript' src='scripts/script.js'>
        <script type="text/javascript" src=".https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <script type="text/javascript" src="js/psd3.js"></script>
        <link rel="stylesheet" type="text/css" href="css/psd3.css" /> 
    </script>

    <link href="css/style.css" rel="stylesheet" type='text/css'>
</head>


{#  XXX TODO complete/fix and compute/fix value #}
{% macro _consRecTree(mod_children_L, subpie_frac=10) -%}
    {% set mod_children = mod_children_L.pop(0) %}
    {% if not mod_children|is_list %}
        {% set mod_children = [mod_children] %}
    {% endif %}

    {% for mod_baseid in mod_children %}
        name: "{{ mod_baseid }}",
        value: "{{ subpie_frac }}",
        drilldown: [
            {% if not loop.last and mod_children[loop.index0 + 1]|is_list %}
                {#  next element is a list -> proceed with the recursive step #}
                {{ '{' }}
                {{ _consRecTree(mod_children[loop.index0 + 1], subpie_frac) }}  {# XXX TODO consider adjusting the value #}
                {{ '}' }}
            {% endif %}
        ]
    {% endfor %}
{%- endmacro %}


<body>
    <div class= "TitleBlock" >
        <h1> DNAmod — The DNA Modification Database </h1>
    </div>

    <div id="tabs">
        <ul>
            <li> <a href="#tabs-1"> Verified </a></li>
            <li> <a href="#tabs-2"> Unverified </a></li>
        </ul>

        <div id="tabs-1">
            <script type="text/javascript">
                var DNA_bases = [
                    {% for unmod_base, mod_children in verifiedHierarchy|dictsort %}
                       {{ '{' }}
                            name: "{{ unmod_base }}",
                            value: 25,
                            drilldown: [{{ '{' }}
                                {{ _consRecTree(mod_children, 10) }} {# XXX TODO compute and fix value #}
                            {{ '}' }}]
                        {{ '}' }}{% if loop.last %}, 
                        {% endif %}
                    {% endfor %}
                ];

                var config = {
                    containerId: "chartContainer",
                    width: 500,
                    height: 500,
                    data: DNA_bases,
                    heading: {
                        text: "DNA bases",
                        pos: "top"
                    },
                    label: function(d) {
                        return d.data.name;
                    },
                    inner: "drilldown",
                    tooltip: function(d) {
                        return "<div style='background-color: #4a4; color: white; padding: 15px; text-align: middle; border: dotted 1px black;'>" + d.name + "<span class='nucleobase'> ()</span>"  + "</div>";
                    },
                    redirOnClick: "http://dnamod.hoffmanlab.org",
                    transition: "linear",
                    transitionDuration: 500,
                    donutRadius: 50,
                    gradient: true,
                    colors: d3.scale.category20(),
                    labelColor: "white",
                    stroke: "#eee",
                    strokeWidth: 3,
                    drilldownTransition: "linear",
                    drilldownTransitionDuration: 0,
                    highlightColor: "#c00"
                };

                var samplePie = new psd3.Pie(config);
            </script>
            <noscript>
                <div class= "IndexLayout" >
                    <div id="accordion">
                        {% for base in bases %}
                            <h2> {{ base }} </h2>
                            <div>
                                {% set baseloop = loop %}
                                <ul>
                                    {% for modification in modifications[base] %}
                                        <li> <a href= "{{ modification }}.html" > {{ modification }}</a>
                                    {% endfor %}
                                </ul>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </noscript>
        </div>

        <div id="tabs-2">
            <div class="container">
                <div class="well">
                    <h2> Unverified entries </h2>
                    <ul>
                        <li>The entries listed on this page are chemicals associated with a particular unmodified nucleobase,
                            but have not been manually verified as DNA modifications.</li>
                        <li>Expand a section and click on a link to view information on the entity.</li>
                    </ul>
                </div>

                <div class= "IndexLayout" >
                    <div id="accordion2">
                    {% for base in unverifiedbases %}
                        <h2> {{ base }} </h2>
                        <div>
                            {% set baseloop = loop %}
                            <ul>
                            {% for modification in unverifiedmodifications[base] %}
                                <li> <a href= "{{ modification }}.html" > {{ modification }}</a> </li>
                            {% endfor %}
                            </ul> <br>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href= "about.html" > About</a>
        <a href= "contact.html" > Contact</a>
    </footer>

</body>

</html>
