<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <title>DNA Modification Database - {{ ChebiName }}</title>

    <!-- <link href="netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type='text/css'> -->
    <!-- <link href="http://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet" type='text/css'> -->
    <link href="css/style.css" rel="stylesheet" type='text/css'>

</head>

<body>
    <div class= "TitleBlock" >
        <h1> {{ ChebiName }} — DNAmod </h1>
        <a href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ParentLink }}" > {{ CommonName }} </a>
        <h2> A modification of </h2>
    </div>

    <!-- TODO refactor to infer headers from dict -->
        <div class="Alphabet">
            <img id="chemicalStructureImage" src="images/{{ ChebiName }}.svg" alt="{{ ChebiName }} Image Not Availabe" height='500' width='500'>
            {% if ExpandedAlpha["Abbreviation"] is defined %}
                <div class="ExpandedAlpha">
                    <table>
                        <tr>
                            <th> Abbreviation </th>
                            <td> {{ ExpandedAlpha["Abbreviation"] }} </td>
                        </tr>
                        <tr>
                            <th> Symbol </th>
                            <td class="nucleobase"> {{ ExpandedAlpha["Symbol"] }} </td>
                        </tr>
                        {% if ( (ExpandedAlpha["Complement Symbol"] is defined) and (ExpandedAlpha["Complement Symbol"] is not equalto 'NA') ) %}
                            <tr>
                                <th> Complement </th>
                                <td> {{ ExpandedAlpha["Complement"] }} </td>
                            </tr>
                            <tr>
                                <th> Symbol </th>
                                <td class="nucleobase"> {{ ExpandedAlpha["Complement Symbol"] }} </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endif %}
        </div>

    <div class="ContentLayout">
    
        <div class="BasicInfo">
            {% if Definition %}
                <h2> Description: </h2>
                <p> {{ Definition }} </p>
            {% endif %}

            {% if Formula or NetCharge or AverageMass %}
                <h2> Chemical Properties: </h2>
                <table id="ChemProps">
                    <tr>
                        <th> Chemical Formula </th>
                        <th> Net Charge </th>
                        <th> Average Mass </th>
                    </tr>
                    <tr>
                        <td> {% if Formula %}{{ Formula }}{% endif %} </td>
                        <td> {% if NetCharge %}{{ NetCharge }}{% endif %} </td>
                        <td> {% if AverageMass %}{{ AverageMass }}{% endif %} </td>
                    </tr>
                </table>
            {% endif %}
        </div>
        


        <div class="Names">
            {% if IupacName or Smiles or Synonyms %}
                <h2 id="Inline"> Names: </h2>
                <table id="Names">
                    <tr>
                        {% if IupacName %}<th> IUPAC </th>{% endif %}
                        {% if Smiles %}<th> SMILES </th>{% endif %}
                        {% if Synonyms|length %}
                            <th> Synonyms </th>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if IupacName %}<td> {{ IupacName }} </td>{% endif %}
                        {% if Smiles %}<td> {{ Smiles }} </td>{% endif %}
                        {% if Synonyms|length %}
                            <td>
                                <ul id="Synonyms">
                                {% for Synonym in Synonyms %}
                                    <li> {{ Synonym }} </li>
                                {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                </table>
            {% endif %}
        </div>

    <!--  XXX remove?
        <div class="Roles">
            <h2> Roles: </h2>
            <ul id="Roles">
                {% if Roles|length %}
                    {% for Role in Roles %}
                        <li> <a href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ RolesChebi[loop.index-1] }}" > {{ Role }} </a> </li>
                    {% endfor %}
                 {% else %}
                    <li> No Roles </li>
                 {% endif %}
            </ul>
        </div>
        -->
        {% for RefAnnot in RefAnnots %}
            {% if RefAnnot|length %}  <!-- not in for to ensure counter still increments -->
                <div class="RefAnnotTable" {{ RefAnnotTabNames[loop.index0] }}>
                    <h2 id="Inline"> {{ RefAnnotTabNames[loop.index0] }}: </h2>
                    <table id={{ RefAnnotTabNames[loop.index0] }}>
                        <tr>
                            {% for Header, _ in RefAnnot[0].iteritems() if Header not in RefAnnotsRefColNames %}
                                <th> {{ Header }} </th>
                            {% endfor %}
                            <th> Reference(s) </th>
                        </tr>
                        <tr>
                            <!-- XXX refactor to use common ref. print scheme WRT below... -->
                            {% for RefAnnotEntry in RefAnnot %}
                                {% for _, Data in RefAnnotEntry.iteritems() if _ not in RefAnnotsRefColNames %}
                                    <td 
                                        {% set ListDataToUse = Data.split(',') %}    
                                    {% if 'organism' in _.lower() or 'species' in _.lower() %}
                                        class="species"
                                        {% set ListDataToUse = ListDataToUse | sort %}
                                    {% endif %}
                                    >
                                    {% if ',' in Data and 'and' not in Data %} <!-- -->
                                            <ul>
                                                {% for Datum in ListDataToUse %}
                                                    <li> {{ Datum }} </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ Data }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                
                                {% if RefAnnotEntry["citationid"] %}
                                    {% set AuthorL = RefAnnotEntry["authors"].split(';') %}
                                    {% set TitleL = RefAnnotEntry["title"].split(';') %}
                                    {% set PubdateL = '' %}
                                    {% if RefAnnotEntry["pubdate"] %}
                                        {% set PubdateL = RefAnnotEntry["pubdate"].split(';') %}
                                    {% endif %}

                                    <!-- TODO refactor citation format... -->
                                    <td>
                                        <ul>
                                            {% for citationid in RefAnnotEntry["citationid"].split(';') %}
                                                <li> {{ AuthorL[loop.index0] }} <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ citationid }}' > {{ TitleL[loop.index0] | replace('.', '') }}</a>.  {% if PubdateL and PubdateL[loop.index0] %} {{ PubdateL[loop.index0] }}. {% endif %} </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {%endif %}
        {% endfor %}
            
        <div class="Links">
            <h2 id="Inline"> Database References: </h2> 
            <a id="Inline" href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ChebiId }}" > {{ ChebiId }} </a> <br>

            {% if Citations|length %}
                <h2> Citations: </h2>
                <ul id="Citations">
                    {% if Citations|length %}
                        {% for Citation in Citations %}
                        <li>{{ Citation["authors"] }} <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ Citation["citationid"] }}' > {{ Citation["title"] }} </a> {% if Citation["pubdate"] %} {{ Citation["pubdate"] }}. {% endif %}  </li>
                        {% endfor %}
                    {% else %}
                        <li> No Citations </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        
    </div>
</body>

<footer>
    <a href= "index.html" > Home</a>
    <a href= "about.html" > About</a>
    <a href= "contact.html" > Contact</a>
</footer>

</html>
