<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <title>DNA Modification Database - {{ ChebiName }}</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link href="css/style.css" rel="stylesheet" type='text/css'>
    
</head>

<body id="modification">
    <div class= "TitleBlock" >
        <nav class="navbar navbar-custom navbar-fixed-top">
                <div class="navbar-header">
                    <h2 class="navbar-brand">{{ ChebiName }} — DNAmod</h2>
                </div> 
                <div class="navbar-right">
                    <p> A modification of <a href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ParentLink }}" > {{ CommonName }} </a> </p>
                </div>
        </nav>
    </div>
    
    <!-- TODO refactor to infer headers from dict -->
    <div class="container-fluid">
    
        <div class="row">
        
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                    
                        <div class="BasicInfo">
                            {% if Definition %}
                                <h2> Description: </h2>
                                <p> {{ Definition }} </p>
                            {% endif %}

                            {% if Formula or NetCharge or AverageMass %}
                                <h2> Chemical properties: </h2>
                                <table id="ChemProps">
                                    <tr>
                                        <th> Chemical formula </th>
                                        <th> Net charge </th>
                                        <th> Average mass </th>
                                    </tr>
                                    <tr>
                                        <td> {% if Formula %}{{ Formula }}{% endif %} </td>
                                        <td> {% if NetCharge %}{{ NetCharge }}{% endif %} </td>
                                        <td> {% if AverageMass %}{{ AverageMass }}{% endif %} </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                        
                        <div class="Names">
                            {% if IupacName or Smiles or Synonyms %}
                                <h2 id="Inline"> Names: </h2>
                                <div>
                                    <table class="table table-striped" id="Names">
                                        <tr>
                                            {% if IupacName %}<th> IUPAC </th>{% endif %}
                                            {% if Smiles %}<th> SMILES </th>{% endif %}
                                            {% if Synonyms|length %}
                                                <th> Synonyms </th>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if IupacName %}<td> {{ IupacName }} </td>{% endif %}
                                            {% if Smiles %}<td> {{ Smiles }} </td>{% endif %}
                                            {% if Synonyms|length %}
                                                <td>
                                                    <ul id="Synonyms">
                                                    {% for Synonym in Synonyms %}
                                                        <li> {{ Synonym }} </li>
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">

                        {% if Image %}
                            <img id="chemicalStructureImage" src="{{ Image }}" alt="{{ ChebiName }}" height='250' width='250'>
                        {% endif %} 
            
                        {% if ExpandedAlpha %}
                            <div class="ExpandedAlpha">
                                <h2> Nomenclature: </h2>
                                <table>
                                    <tr>
                                        <th> Abbreviation </th>
                                        <td> {{ ExpandedAlpha["Abbreviation"] }} </td>
                                    </tr>
                                    {% if ExpandedAlpha["Symbol"] %}
                                        <tr>
                                            <th> Symbol </th>
                                            <td class="nucleobase"> {{ ExpandedAlpha["Symbol"] }} </td>
                                        </tr>
                                    {% endif %}
                                    {% if ExpandedAlpha["Complement Symbol"] %}
                                        <tr>
                                            <th> Complement </th>
                                            <td> {{ ExpandedAlpha["Complement"] }} </td>
                                        </tr>
                                        <tr>
                                            <th> Symbol </th>
                                            <td class="nucleobase"> {{ ExpandedAlpha["Complement Symbol"] }} </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
                         
        </div>

        <div class="row">
                    
            {% for RefAnnot in RefAnnots %}
                {% if RefAnnot|length %}  <!-- not in for to ensure counter still increments -->
                
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            
                                <div class="RefAnnotTable" {{ RefAnnotTabNames[loop.index0] }}>
                                    <h2 id="Inline"> {{ RefAnnotTabNames[loop.index0] }}: </h2>
                                    <table class="table table-striped" id={{ RefAnnotTabNames[loop.index0] }}>
                                        <tr>
                                            {% for Header, _ in RefAnnot[0].iteritems() if Header not in RefAnnotsRefColNames %}
                                                <th> {{ Header }} </th>
                                            {% endfor %}
                                            <th> Reference(s) </th>
                                        </tr>
                                        <tr>
                                            <!-- XXX refactor to use common ref. print scheme WRT below... -->
                                            {% for RefAnnotEntry in RefAnnot %}
                                                {% for _, Data in RefAnnotEntry.iteritems() if _ not in RefAnnotsRefColNames %}
                                                    <td 
                                                        {% set ListDataToUse = Data.split(',') %}    
                                                    {% if 'organism' in _.lower() or 'species' in _.lower() %}
                                                        class="species"
                                                        {% set ListDataToUse = ListDataToUse | sort %}
                                                    {% endif %}
                                                    >
                                                    {% if ',' in Data and 'and' not in Data %} <!-- -->
                                                            <ul>
                                                                {% for Datum in ListDataToUse %}
                                                                    <li> {{ Datum }} </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% else %}
                                                            {{ Data }}
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                
                                                {% if RefAnnotEntry["citationid"] %}
                                                    {% set AuthorL = RefAnnotEntry["authors"].split(';') %}
                                                    {% set TitleL = RefAnnotEntry["title"].split(';') %}
                                                    {% set PubdateL = '' %}
                                                    {% if RefAnnotEntry["pubdate"] %}
                                                        {% set PubdateL = RefAnnotEntry["pubdate"].split(';') %}
                                                    {% endif %}

                                                    <!-- TODO refactor citation format... -->
                                                    <td>
                                                        <ul>
                                                            {% for citationid in RefAnnotEntry["citationid"].split(';') %}
                                                                <li> {{ AuthorL[loop.index0] }} <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ citationid }}' > {{ TitleL[loop.index0] | replace('.', '') }}</a>.  {% if PubdateL and PubdateL[loop.index0] %} {{ PubdateL[loop.index0] }}. {% endif %} </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                {%endif %}
            {% endfor %}
            
        </div>
                
        <div class="Links">
        
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 id="Inline"> Database references: </h2> 
                            <a id="Inline" href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ChebiId }}" > {{ ChebiId }} </a> <br>
                        </div>
                    </div>
                </div>
            </div>

            {% if Citations|length %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            
                                <h2> Citations: </h2>
                                <ul class="list-group" id="Citations">
                                    {% if Citations|length %}
                                        {% for Citation in Citations %}
                                        <li class="list-group-item">{{ Citation["authors"] }} <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ Citation["citationid"] }}' > {{ Citation["title"] }} </a> {% if Citation["pubdate"] %} {{ Citation["pubdate"] }}. {% endif %}  </li>
                                        {% endfor %}
                                    {% else %}
                                        <li> No Citations </li>
                                    {% endif %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
        </div>
        
    </div>
</body>

<footer class="footer">
    <nav class="navbar navbar-custom navbar-fixed-bottom">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav">
                <a href= "index.html"> Home</a>
                <a href= "about.html"> About</a>
                <a href= "contact.html"> Contact</a>
            </div>
        </div>
        
    </nav>
</footer>


</html>
