<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <title>DNAmod: {{ ChebiName|striptags }}</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- Fallbacks -->
    <script>window.jQuery || document.write('<script src="js/jquery-3.1.0.min.js"><\/script>')</script>
    <script>window.jQuery.fn.modal || document.write('<script src="js/bootstrap.min.js"><\/script>')</script>
    <script>
        $(document).ready(function() {
            var bodyColor = $('body').css('color');
            if(bodyColor != 'rgb(51, 51, 51)') {
                $("head").prepend('<link rel="stylesheet" href="css/bootstrap.min.css">');
            }
        });
    </script>
    
    <script type='text/javascript' src='js/modification.js'></script>

    <link href="css/style.css" rel="stylesheet" type='text/css'>  
</head>

<body id="modification" vocab="http://purl.org/dc/terms/" prefix='cio: http://semanticscience.org/resource/'>
    <div class= "TitleBlock" >
        <nav class="navbar navbar-custom navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-list"></span>
              </button>
              <p class="navbar-text" property="title">{{ ChebiName }}: DNAmod</p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <div class="nav navbar-nav navbar-right">
                <p class="navbar-text">A modification of <a href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ParentLink }}" > {{ CommonName }} </a></p>
              </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    {% set DispName = ChebiName %}
    {% if "Name" in ExpandedAlpha %}
        {% set DispName = ExpandedAlpha["Name"] %}
    {% endif %}

    <!-- TODO refactor to infer headers from dict -->
    <div class="container-fluid">
    
        <div class="row">
        
            <div class="col-xs-12 col-md-6">
                {% if Definition or Formula or NetCharge or AverageMass %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                    
                            <div class="BasicInfo">
                                {% if Definition %}
                                    <h2 property="title"> Description </h2>
                                    <p> {{ Definition }} </p>
                                {% endif %}

                                {% if Formula or NetCharge or AverageMass %}
                                    <h2 property="title"> Chemical properties </h2>
                                    <table class="table table-striped" id="ChemProps">
                                        <tr>
                                            <th> Chemical formula </th>
                                            <th> Net charge </th>
                                            <th> Average mass </th>
                                        </tr>
                                        <tr>
                                            <td property='cio:CHEMINF_000335'> {% if Formula %}{{ Formula }}{% endif %} </td>
                                            <td property='cio:CHEMINF_000336'> {% if NetCharge %}{{ NetCharge }}{% endif %} </td>
                                            <td property='cio:CHEMINF_000338'> {% if AverageMass %}{{ AverageMass }}{% endif %} </td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                {% endif %}
            </div>
                        
            <div class="col-xs-12 col-md-6">
                {% if Image or ExpandedAlpha %}
                    <div class="panel panel-default">
                        <div class="panel-body">

                            {% if Image %}
                                <div class="col-sm-6">
                                    <img id="chemicalStructureImage" src="{{ Image }}" alt="{{ ChebiName }}" height='250' width='250'>
                                </div>
                            {% endif %} 
            
                            {% if ExpandedAlpha %}
                                <div class="col-sm-6">
                                    <div class="ExpandedAlpha">
                                        <abbr data-toggle="popover" data-placement="left" data-html="true" data-content="DNAmod's recommended nomenclature. {% if ExpandedAlpha["Symbol"] -%} For bioinformatic contexts, DNAmod provides a one-character symbol for genomic {{ ExpandedAlpha["Name"] }}{% if ExpandedAlpha["Complement Symbol"] %} as well as for its base-pairing complement{% endif -%}.{% endif -%}" data-original-title title><h2 id="Inline"> Recommended notation </h2></abbr>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <th> Name </th>
                                                    <td property='cio:CHEMINF_000561'> {{ ExpandedAlpha["Name"] }} </td> 
                                                <tr>
                                                    <th> Abbreviation </th>
                                                    <td> {{ ExpandedAlpha["Abbreviation"] }} </td>
                                                </tr>
                                                {% if ExpandedAlpha["Symbol"] %}
                                                    <tr>
                                                        <th> Symbol </th>
                                                        <td class="nucleobase"> {{ ExpandedAlpha["Symbol"] }} </td>
                                                    </tr>
                                                {% endif %}
                                                {% if ExpandedAlpha["Complement Symbol"] %}
                                                    <tr>
                                                        <th> Complement </th>
                                                        <td> {{ ExpandedAlpha["Complement"] }} </td>
                                                    </tr>
                                                    <tr>
                                                        <th> Symbol </th>
                                                        <td class="nucleobase"> {{ ExpandedAlpha["Complement Symbol"] }} </td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        
                        </div>
                    </div>
                {% endif %}
            </div>
                         
        </div>

        <div class="row">
            
                <div class="col-xs-12">
                    {% if IupacName or Smiles or Synonyms %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="Names">
                                    {% if IupacName or Smiles or Synonyms %}
                                        <h2 property="title"> Nomenclature </h2>
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="Names">
                                                <tr>
                                                    {% if IupacName %}<th> IUPAC </th>{% endif %}
                                                    {% if Smiles %}<th> SMILES </th>{% endif %}
                                                    {% if InChI %}<th> InChI </th>{% endif %}
                                                    {% if InChIKey %}<th> InChIKey </th>{% endif %}
                                                    {% if Synonyms|length %}
                                                        <th> Synonyms </th>
                                                    {% endif %}
                                                </tr>
                                                <tr>
                                                    {% if IupacName %}<td property='cio:CHEMINF_000382'> {{ IupacName }} </td>{% endif %}
                                                    {% if Smiles %}<td property='cio:CHEMINF_000376'> {{ Smiles }} </td>{% endif %}
                                                    {% if InChI %}<td property='cio:CHEMINF_000396'> {{ InChI }} </td>{% endif %}
                                                    {% if InChIKey %}<td property='cio:CHEMINF_000399'> {{ InChIKey }} </td>{% endif %}
                                                    {% if Synonyms|length %}
                                                        <td>
                                                            <ul id="hangingindent">
                                                            {% for Synonym in Synonyms %}
                                                                <li> {{ Synonym }} </li>
                                                            {% endfor %}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            
            </div>
            
        <div class="row">
                    
            {% for RefAnnot in RefAnnots %}
                {% if RefAnnot|length %}  <!-- not in for to ensure counter still increments -->
                
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            
                                <div class="RefAnnotTable" {{ RefAnnotTabNames[loop.index0] }}>
                                    {% if RefAnnotTabNames[loop.index0] == "Mapping techniques" %}
                                    <abbr data-toggle="popover" data-placement="top" data-html="true" data-content="Sequencing methods available to profile {{ DispName }}. Outlines the limitations and basis of each method. We list mapping techniques only under the nucelobase(s) which they directly elucidate." data-original-title title><h2 id="Inline"> {{ RefAnnotTabNames[loop.index0] }} </h2></abbr>
                                    {% endif %}
                                    {% if RefAnnotTabNames[loop.index0] == "Nature" %}
                                    <abbr data-toggle="popover" data-placement="top" data-html="true" data-content="Natural occurrence information for {{ DispName }}{% if Synthetic == False -%}, outlining its biological properties{% endif %}." data-original-title title><h2 id="Inline"> {{ RefAnnotTabNames[loop.index0] }} </h2></abbr>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-striped" id={{ RefAnnotTabNames[loop.index0] }}>
                                            <tr>
                                                {% for Header, _ in RefAnnot[0].iteritems() if Header not in RefAnnotsRefColNames %}
                                                    {% if Header == "Qualifier" %}
                                                        <th>
                                                            <abbr data-toggle="popover" data-placement="top" data-html="true" data-content="Genomic enrichment, limitation, or advantage." data-original-title title><div> {{ Header }} </div></abbr>
                                                        </th>
                                                    {% else %}
                                                        <th> {{ Header }} </th>
                                                    {% endif %}
                                                {% endfor %}
                                                <th> References </th>
                                            </tr>
                                            <tr>
                                                <!-- XXX refactor to use common ref. print scheme WRT below... -->
                                                {% for RefAnnotEntry in RefAnnot %}
                                                    {% for _, Data in RefAnnotEntry.iteritems() if _ not in RefAnnotsRefColNames %}
                                                        <td 
                                                            {% set ListDataToUse = Data.split(',') %}    
                                                        {% if 'organism' in _.lower() or 'species' in _.lower() %}
                                                            class="species"
                                                            {% set ListDataToUse = ListDataToUse | sort %}
                                                        {% endif %}
                                                        >
                                                        {% if ',' in Data and 'and' not in Data %} <!-- -->
                                                                <ul id="hangingindent">
                                                                    {% for Datum in ListDataToUse %}
                                                                        <li> {{ Datum }} </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                {{ Data }}
                                                            {% endif %}
                                                        </td>
                                                    {% endfor %}
            
                                                    {% if RefAnnotEntry["citationid"] is defined %}
                                                        {% set AuthorL = RefAnnotEntry["authors"].split(';') %}
                                                        {% set TitleL = RefAnnotEntry["title"].split(';') %}
                                                        {% set PubdateL = '' %}
                                                        {% if RefAnnotEntry["pubdate"] %}
                                                            {% set PubdateL = RefAnnotEntry["pubdate"].split(';') %}
                                                        {% endif %}
                                                        {% set JournalNameL = RefAnnotEntry["journalname"].split(';') %}
                                                        {% set VolumeL = RefAnnotEntry["volume"].split(';') %}
                                                        {% set IssueL = RefAnnotEntry["issue"].split(';') %}


                                                        <!-- TODO refactor citation format... -->
                                                        <td>
                                                            <ul id="hangingindent" resource='/table/citations'>
                                                                {% for citationid in RefAnnotEntry["citationid"].split(';') %}
                                                                    <li property='bibliographicCitation'> {{ AuthorL[loop.index0] }} {{ PubdateL[loop.index0] }}. <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ citationid }}' > {{ TitleL[loop.index0] | replace('.', '') }}</a>. {{ JournalNameL[loop.index0] }}. {{ VolumeL[loop.index0] }}{% if IssueL[loop.index0] %}({{ IssueL[loop.index0] }}){% endif %}.  </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                    {% else %}
                                                    <td> </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                {% endif %}
            {% endfor %}
            
        </div>
                
        <div class="Links">
        
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 id="Inline" property="title"> Database references: </h2> 
                            <a id="Inline" property='cio:CHEMINF_000407' href= "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{ ChebiId }}" > {{ ChebiId }} </a> <br>
                        </div>
                    </div>
                </div>
            </div>

            {% if Citations|length %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            
                                <h2 property="title" resource='/citations'> Citations </h2>
                                <ul id="hangingindent">
                                    {% if Citations|length %}
                                        {% for Citation in Citations %}
                                        <li property='bibliographicCitation'>{{ Citation["authors"] }} {{ Citation["pubdate"] }}. <a href= 'http://www.ncbi.nlm.nih.gov/pubmed/?term={{ Citation["citationid"] }}' > {{ Citation["title"] }} </a> {{ Citation["journalname"] }}. {{ Citation["volume"] }}{% if Citation["issue"] %}({{ Citation["issue"] }}){% endif %}. </li>
                                        {% endfor %}
                                    {% else %}
                                        <li> No Citations </li>
                                    {% endif %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
        </div>
        
    </div>
</body>

<footer class="footer">
        <nav class="navbar navbar-custom navbar-fixed-bottom center">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li><a href= "about.html"> About</a></li>
                    <li id="larger"><a href= "index.html"> Home</a></li>
                    <li><a href= "contact.html"> Contact</a></li>
                </ul>
            </div> 
        </nav>
</footer>

</html>
